doctype html
html
  head
    title Portfolio
    meta(name="description" content="Graphic Designer")
    meta(name="keywords" content="Photoshop, Adobe XD")
    meta(charset="utf-8")
    meta(name="author" content="#")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css")
    script(src="script.js")
  body
    nav
      .container
        .logo 
          img(src="img/logo.png")
        span
        .buttons
          .navPortfolio
            span portfolio
          .navBtn
            span contact
    header
      h1 Graphic designer & Marketing specialist
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    main
      .intro
        h2 Hello!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla elementum enim, in congue tortor. Quisque accumsan nulla in lacus convallis tempus. Vivamus condimentum interdum diam, sed efficitur nisl. Proin vitae quam felis. Pellentesque vestibulum in metus vel posuere. 
        p Nunc ante metus, sodales nec mattis ut, sodales vel odio. Mauris augue leo, porta vitae vestibulum vitae, porttitor nec mi. Donec accumsan risus vitae eros vulputate tempor vel vitae nunc. Nam ut nisl eros.
      .portfolio
        img(src="img/paint.png")
        h2 Design
        p Here are a few design projects I've worked on recently. Want to see more? Email me.
        .projects
          .box#tapas
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://tapas.pl" target="_blank")
                .btn Visit webiste
          .box#mistrzowie
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://mistrzowie-zarabiania.pl" target="_blank")
                .btn Visit webiste
          .box#strefakomfortu
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://strefa-komfortu.com.pl" target="_blank")
                .btn Visit webiste
        .projects
          .box#lekarz
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://lekarzgrzebalski.pl" target="_blank")
                .btn Visit webiste
          .box#bicomedika
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://bicomedika.pl" target="_blank")
                .btn Visit webiste
          .box#electrovise
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://electrovise.pl" target="_blank")
                .btn Visit webiste
        .btn
          .btnMore
            span more
        img(src="img/paint.png")
        h2 Marketing & Social Media
        p Here are a few design projects I've worked on recently. Want to see more? Email me.
        .projects
          .box#tapas
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://tapas.pl" target="_blank")
                .btn Visit webiste
          .box#mistrzowie
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://mistrzowie-zarabiania.pl" target="_blank")
                .btn Visit webiste
          .box#strefakomfortu
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://strefa-komfortu.com.pl" target="_blank")
                .btn Visit webiste
        .projects
          .box#lekarz
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://lekarzgrzebalski.pl" target="_blank")
                .btn Visit webiste
          .box#bicomedika
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://bicomedika.pl" target="_blank")
                .btn Visit webiste
          .box#electrovise
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://electrovise.pl" target="_blank")
                .btn Visit webiste
        .btn
          .btnMore
            span more
      .testimontals
        h2 Lorem ipsum
        p Lorem ipsum dolor sit amet.
        .quotes
          .left(onclick="previous()")
          .quote
            p#q1 1
          .quote
            p#q2 2
          .quote
            p#q3 3
          .right(onclick="next()")
      
      .hero
      footer
        .logo
          img
        //- icons
        p &copy Filip Bauwens - Graphic Desginer & Marketing Specialist
        
        .tools
          p Made by codevoke.pl
          
        
        
