doctype html
html
  head
    title Portfolio
    meta(name="description" content="Graphic Designer")
    meta(name="keywords" content="Photoshop, Adobe XD")
    meta(charset="utf-8")
    meta(name="author" content="#")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="styles.css")
    script(src="script.js")
  body
    nav
      .container
        .logo 
          img(src="img/logo.svg")
        .btn
          span contact
    header
      h1 Graphic designer & Marketing specialist
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    main
      .intro
        h2 Lorem ipsum dolor sit amet.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla elementum enim, in congue tortor. Quisque accumsan nulla in lacus convallis tempus. Vivamus condimentum interdum diam, sed efficitur nisl. Proin vitae quam felis. Pellentesque vestibulum in metus vel posuere. Nunc ante metus, sodales nec mattis ut, sodales vel odio. Mauris augue leo, porta vitae vestibulum vitae, porttitor nec mi. Donec accumsan risus vitae eros vulputate tempor vel vitae nunc. Nam ut nisl eros. Sed dignissim, tellus ac lacinia ultrices, odio ligula pharetra diam, quis dignissim purus nunc nec metus. Praesent laoreet ligula sed leo dignissim ullamcorper. Aliquam cursus maximus justo, accumsan vulputate magna porta non.
      .skills
        .skill
          h3 Social Media
          img(src="img/undraw_socialmedia.svg")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla elementum enim, in congue tortor.
          span The best account
          p @elmundodetapas on Instagram
          span Social media Tools
          p 1
          p 2
          p 3
          p 4
        .skill
          h3 Front-end development
          img(src="img/undraw_static.svg")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla elementum enim, in congue tortor.
          span Language I speak
          p HTML5, Pug, CSS3, Sass, JavaScript, PHP
          span Dev tools
          p Atom
          p Brackets
          p Prepros
          p Codepen
          p Github
          p Terminal
        .skill
          h3 Wordpress
          img(src="img/undraw_wordpress.svg")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fringilla elementum enim, in congue tortor.
          span Things I enjoy creating
          p Static websites, landing pages, blogs
          span Plugins I mostly use
          p Elementor Pro
          p Envato Elements
          p Yoast SEO
          p Duplicator
      .portfolio
        h2 My recent work
        p Here are a few design projects I've worked on recently. Want to see more? Email me.
        .projects
          .box#tapas
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://tapas.pl" target="_blank")
                .btn Visit webiste
          .box#mistrzowie
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://mistrzowie-zarabiania.pl" target="_blank")
                .btn Visit webiste
          .box#strefakomfortu
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://strefa-komfortu.com.pl" target="_blank")
                .btn Visit webiste
        .projects
          .box#lekarz
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://lekarzgrzebalski.pl" target="_blank")
                .btn Visit webiste
          .box#bicomedika
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://bicomedika.pl" target="_blank")
                .btn Visit webiste
          .box#electrovise
            .vanished
              p Website for spanish restaurant and running social media.
              a(href="https://electrovise.pl" target="_blank")
                .btn Visit webiste
      .testimontals
        h2 Lorem ipsum
        p Lorem ipsum dolor sit amet.
        .quotes
          .left(onclick="previous()")
          .quote
            p#q1 1
          .quote
            p#q2 2
          .quote
            p#q3 3
          .right(onclick="next()")
      
      .hero
      footer
        .logo
          img
        //- icons
        p &copy Jakub Jaguś
        
        .tools
          p Made by me with 
          img(src="img/pug-logo.png") 
          
        
        
