@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Questrial&display=swap')

@mixin gradientBg
  background: linear-gradient(left, rgba(122,83,161,1) 0%, rgba(240,95,82,1) 100%)

@mixin gradientFont
  background: linear-gradient(left, rgba(122,83,161,1) 0%, rgba(240,95,82,1) 100%)
  background-clip: text
  -webkit-text-fill-color: transparent

@mixin gradientBtn
  @include gradientBg
  padding: 10px 20px
  border-radius: 50px
  transition: .3s
  cursor: pointer
  &:hover
    @include gradientFont

@mixin portfilioBox
  background-size: cover
  transition: .5s

body
  margin: 0
  padding: 0
  box-sizing: border-box
  background: #fff
  text-align: center
  p, span
    font-family: 'Montserrat', sans-serif
    letter-spacing: .5px
    line-height: 1.3
  h1, h2, h3
    font-family: 'Questrial', sans-serif
  h1
    font-size: 45px
  h2
    font-size: 35px
  h3
    font-size: 25px
nav
  color: #7332E2
  .container
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 20px
    background: #fff
  .logo
    img
      width: 80px
  .buttons
    display: flex
    align-items: center
    font-size: 20px
    color: #fff
    .navPortfolio
      color: #000
    .navBtn
      @include gradientBtn
      margin-left: 20px
header
  height: 61vh
  text-align: center
  background: #fff
  h1
    margin-top: 30vh
    @include gradientFont
    text-transform: uppercase
  p
    margin-top: -10px
    @include gradientFont
    font-size: 20px

main
  .intro
    @include gradientBg
    padding-top: 5vh
    padding-left: 25%
    padding-right: 25%
    padding-bottom: 7vh
    color: #fff
    p
      font-weight: 300
  .skills
    display: flex
    width: 65vw
    padding-top: 50px
    padding-bottom: 50px
    border-radius: 15px
    background: #fff
    margin: -7vw auto 10vh auto
    box-shadow: 0 0 10px grey
    .skill
      margin: 0 auto
      width: calc(15vw)
      img
        margin: 30px auto
        height: 150px
      span
        color: #7332E2
        font-weight: 500
  .portfolio
    img
      margin-top: 50px
      width: 75px
    h2, p
      @include gradientFont
    .btn
      .btnMore
        @include gradientBtn
        display: inline-block
        margin: 50px 0
        color: #fff
        font-size: 20px
    .projects
      margin-top: 50px
      display: flex
      justify-content: center
      .box
        margin: auto 25px
        width: 250px
        height: 250px
        border-radius: 30px
        box-shadow: 0 0 10px grey
        &:hover
          background: #7332E2 !important
        .vanished
          opacity: 0
          transition: .3s
          margin-top: 30%
          p
            margin: auto 50px
            color: #fff !important
          a
            color: white
            .btn
              border: 2px solid #fff
              display: inline-block
              font-family: 'Montserrat', sans-serif
              font-weight: bold
              padding: 10px 20px
              border-radius: 50px
              margin-top: 20px
              cursor: pointer
              transition: .3s
              &:hover
                background: #fff
                color: #7332E2
                border-color: #fff
        &:hover > .vanished
          opacity: 1
      #tapas
        background: url('img/grzebalski.jpg')
        @include portfilioBox
      #mistrzowie
        background: url('img/strefa-komfortu.jpg')
        @include portfilioBox
      #strefakomfortu
        background: url('img/mockups/sk.jpg')
        @include portfilioBox
      #lekarz
        background: url('img/mockups/lekarz.png')
        @include portfilioBox
      #bicomedika
        background: url('img/mockups/bicomedika.jpg')
        @include portfilioBox
      #electrovise
        background: url('img/mockups/electrovise.jpg')
        @include portfilioBox


  .testimontals
    .quotes
      display: flex
      justify-content: center
      .quote
        margin: auto 25px
        width: 300px
        height: 200px
        border-radius: 15px
        box-shadow: 0 0 10px grey
      .left
        height: 10px
        width: 10px
        border: 2px solid black
        margin: auto 0
        transform: rotate(45deg)
        border-top: none
        border-right: none
        transition: .3s
        cursor: pointer
        &:hover
          border-color: #7332E2
      .right
        height: 10px
        width: 10px
        border: 2px solid black
        margin: auto 0
        transform: rotate(45deg)
        border-bottom: none
        border-left: none
        cursor: pointer
        &:hover
          border-color: #7332E2
  .hero
footer
  background: #7332E2
  color: #fff

  .tools
    img
      height: 75px
